.details-page {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.details-thumbnail {
    height: 20rem;
    width: fill;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: var(--color-1) 0 0 6px;
}

.details-title {
    font-family: var(--font-1);
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.details-price {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.details-description {
    box-shadow: 0 0 8px var(--color-1);
    border-radius: 8px;
    padding: 2rem;
    color: white;
}

.back {
    padding: 0;
    margin: 0 0 0 2rem;
    margin-top: 1rem;
    border: none;
    /* background-color: var(--color-5);
    border: none;
    color: white; */
}