.home-page {
  margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-1);
    color: var(--color-1);
    border-bottom: var(--color-1) 1px solid;
    background-color: var(--color-5);
    margin: 0 0 2rem 0;
    /* padding-bottom: 1rem; */
    padding: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.list-button {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-5);
    padding: 1rem 5rem;
    box-shadow: 1px 1px 0px var(--color-4);
    border-radius: 8px;
    text-transform: uppercase;
    font-family: var(--font-1);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    width: 10rem;
    text-align: center;
    margin-bottom: 3rem;
    transition: all .4s;
}

.list-button:hover {
    background-color: var(--color-5);
        box-shadow: 1px 1px 8px var(--color-1);
        color: var(--color-1);

}

.see-more {
  width: fit-content;
  padding: 1rem 4rem;
  border: none;
}