html {
  --color-1: #cae9ff;
  --color-2: #bee9e8;
  --color-3: #62b6cb;
  --color-4: #5fa8d3;
  --color-5: #1b4965;
  --font-1: 'Poppins', sans-serif;
  --font-2: 'Nanum Gothic', sans-serif;
}

body {
  /* margin: 2rem; */
  font-family: var(--font-2);
  background-color: var(--color-5);
}
